{% extends 'greek/base.html' %}
{% block content %}



<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>


  <!-- Bootstrap CSS -->

  <link rel="stylesheet" type="text/css" href="{% static 'normalize.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'viewfeedback.css' %}">

  <link rel="stylesheet" type="text/css" href="{% static '1.1 grid.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '1.3 grid.css' %}">

  <!--GOOGLE Fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap"
    rel="stylesheet">

  <title>Omnifood</title>


</head>

<body>

  <div class="content">
    
    <a href="{% url 'viewfeedback' viewfeeddbacks.id %}"><img
        style="margin-top: 3%; text-decoration:none;" src="{% static 'GB.png' %}" width="3%"
        height="3%" alt="Britain Flag">
    </a>
    
    <a href="{% url 'greekviewfeedback' viewfeeddbacks.id %}"><img
        style="border: 2px solid #39e622; font-weight: 300; margin-left: 2%; margin-top: 3.2%; text-decoration:none;" src="{% static 'GR.png' %}"
        width="3%" height="3%" alt="Greek Flag"></a>

    {{ error }}
    {{ saved }}

    <br><br>
    <h1 style="color: rgb(180, 179, 179);">Created On: {{ viewfeeddbacks.created }}</h1>
    <br>

    <br>
    
    {% if viewfeeddbacks.customer_photo %}

    <!-- όχι URL όταν μπαίνει σε IF Statment -->
    <!-- / στο path αλλιώς δεν παίζει η photo -->
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="form-group">
        <img src="{{ viewfeeddbacks.customer_photo.url }}" width="10%" alt="customer photo"> <br>
        <br>
        <label>ΦΩΤΟΓΡΑΦΙΑ</label>
        <small id="usernameHelp" class="form-text text-muted">Ανεβάστε την φωτογραφία σας εδώ. Προαιρετικά.</small><br>

        <div class="photo-uploaded">
          {{ form.customer_photo }}
        </div>
        
      </div>



      <br>
      <label>ΌΝΟΜΑ</label>

      <div class="name" style="margin-left: 2%;">
        {{ form.customer_first_name }}
      </div>
      
      <br>
      <br>
      <label>ΕΠΙΘΕΤΟ</label>
      <div class="name" style="margin-left: 1.3%;">
        {{ form.customer_second_name }}
      </div>
      <br>
      <br>
      <label>ΤΙΤΛΟΣ ΚΡΙΤΙΚΗΣ</label>
      <div style="color: black;">
        {{ form.feedback_description }}
      </div>
      <br>
      <br>
      <label>ΠΕΡΙΓΡΑΦΗ ΚΡΙΤΙΚΗΣ</label>

      <div style="color: black;">
        {{ form.feedback }}
      </div>
      <br>
      <br>
      <div class="form">
        Delete: {{ form.deleted }}
      </div>
      <br>
      <br>
      
      <button type="submit" class="btn btn-primary">ΑΠΟΘΗΚΕΥΣΗ</button>

    </form>
    <br>

    {% else %}


    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="form-group">
        <img src="/media/customer/default.jpg" width="10%" alt="customer photo"> <br>
        <br>
        <label>ΦΩΤΟΓΡΑΦΙΑ</label>
        <small id="usernameHelp" class="form-text text-muted">Upload Your Photo Here.Optional.</small> <br>
        
        <div class="photo">
          {{ form.customer_photo }}
        </div>
      
      </div>



      <br>
      <label>ΌΝΟΜΑ</label>
      <div class="name" style="margin-left: 2%;">
        {{ form.customer_first_name }}
      </div>
      <br>
      <br>
      <label>ΕΠΙΘΕΤΟ</label>
      <div class="name" style="margin-left: 1.3%;">
        {{ form.customer_second_name }}
      </div>
      <br>
      <br>
      <label>ΤΙΤΛΟΣ ΚΡΙΤΙΚΗΣ</label>
      <div style="color: black;">
        {{ form.feedback_description }}
      </div>
      <br>
      <br>
      <label>ΠΕΡΙΓΡΑΦΗ ΚΡΙΤΙΚΗΣ</label>

      <div style="color: black;">
        {{ form.feedback }}
      </div>
      <br>
      <br>
      <div class="form">
        Delete: {{ form.deleted }}
      </div>
      
      <br>
      <br>
      <button type="submit" class="btn btn-primary">ΑΠΟΘΗΚΕΥΣΗ</button>

    </form>
    <br>

    {% endif %}

    <form method="POST" onsubmit="return confirm('ΣΙΓΟΥΡΑ ;')"
      action="{% url 'greekdeletefeedback' viewfeeddbacks.id %}">
      {% csrf_token %}
      <button type="submit" class="btn btn-primary">ΣΒΗΣΙΜΟ ΓΙΑ ΠΑΝΤΑ</button>
      
    </form>



  </div>
  {% endblock %}

</body>

</html>