{% extends 'web/base.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">




  <link rel="stylesheet" type="text/css" href="{% static 'normalize.css' %}">

  {% if feeddbacks.count < 9 %} <link rel="stylesheet" type="text/css" href="{% static 'allmyfeedback2.css' %}">
    {% else %}
    <link rel="stylesheet" type="text/css" href="{% static 'allmyfeedback.css' %}">
    {% endif %}

  <link rel="stylesheet" type="text/css" href="{% static '1.1 grid.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '1.3 grid.css' %}">



  <!--GOOGLE Fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap"
    rel="stylesheet">



  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh">
  <!--crossorigin="anonymous"-->

  <!-- <link rel="icon" type="image/png" href="{% static 'todo/logo.png' %}"> -->

  <title>DioniWines</title>
</head>

<body>

  <header>
    <!-- <a href="{% url 'home' %}">Home</a> -->
  </header>

  <div class="content">

    <a href="{% url 'allmyfeedback' %}"><img style="margin-bottom: 2%; margin-top: 3%; border: 2px solid #39e622; text-decoration:none;"
        src="{% static 'GB.png' %}" width="4%"alt="Britain Flag">
    </a>
    
    <a href="{% url 'greekallmyfeedback' %}"><img
        style="margin-bottom: 2%; font-weight: 300; margin-left: 2%; margin-top: 3.2%; text-decoration:none;" src="{% static 'GR.png' %}"
        width="4%" alt="Greek Flag">
    </a>

    <div class="row justify-content-center mt-5">
      <div class="col-md-5">

        {% if saved %}
        
        <div class="alert alert-danger" role="alert" style="border: 1px solid rgb(137, 177, 79); background-color: rgb(137, 177, 79); color: black; display: inline-block; padding: 10px 30px; font-weight: 300; text-decoration: none; transition: background-color 0.2s, border 0.2s, color 0.2s;">
          {{ saved }}
        </div>
        {% endif %}

      </div>
    </div>


    <div class="row justify-content-center mt-5">
      <div class="col-md-10">
        
          <div class="hero-text-box" style="
                      display: inline-block; /* Αλλάζουμε το a απο inline Element σε Inline Block για να μπορεί να δεχτεί padding και font-weight*/
                      padding: 10px 30px;
                      
                      font-weight: 300;
                      text-decoration: none;
                      /* border-radius: 200px;*/
                      transition: background-color 0.2s, border 0.2s, color 0.2s;
                      
                      top: 26%; 
                      color: rgb(12, 12, 12);
                      text-decoration: none;
                      text-transform: uppercase;
                      font-size: 90%;
                
                      background-color: #34a853c2;
                      border: 1px solid #34a853cc;
                
                
                      ">

          {% if feeddbacks %}
          <h1>{{ feeddbacks.count }} Current Feedback{{ feeddbacks.count|pluralize }}</h1>
          {% else %}
          <h1>You Have Not Left Any Feedback Yet</h1>
          {% endif %}
        
      </div>
      </div>
    </div>

    <br><br>

    <div class="row justify-content-center mt-5">
      <div class="col-md-5">

        <ul style="list-style: none;">
          {% for feeddback in feeddbacks %}
          <li>
          
            <a href="{% url 'viewfeedback' feeddback.id %}">
              <!--Εδώ χρειάζεται να προσθέσεις και το feedback.id στο link-->
          
              <div class="alert alert-danger btnn btnn-full" role="alert" style="background-color: #e67e22;">
          
          
                <div class="row justify-content-center mt-5">
          
                  <div class="col-md-5" style="color: cornsilk;">
          
                    {{ feeddback.feedback_description }}
                  </div>
                </div>
          
              </div>
            </a>
          </li>



          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  {% endblock %}



</body>

</html>